# GOPATH
export GOPATH=`pwd`/vendor-library:`pwd`/go

# Java
if [ -z $JAVA_HOME ]; then
  export JAVA_HOME=`pwd`/java
else
    export JAVA_HOME=$JAVA_HOME:`pwd`/java:`pwd`/java/src:`pwd`/vendor-library:`pwd`/vendor-library/src1
fi

# MAKEPATH
export ROOT=`pwd`
export MAKEPATH=`pwd`/make
export BASEMAKEPATH=`pwd`/launcher/make

# Deploy
export DEPLOY_DIR=$ROOT/launcher/deploy

# LOGGER_TAG (DockerImage tag for services)
export LOGGER_TAG=0.3-2.7

# Path
export GROUP=tsu
export FGROUP=tsu
export PATH=$PATH:$JAVA_HOME/bin
